################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pi_copter_wifi/bin
/pi_copter_wifi/obj
