################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/opencv_/x64
/opencv_/bin
/opencv_/obj
