################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/copter_graph/x64
/copter_graph/bin
/copter_graph/obj
