*.iml
/.gradle
/.idea
/.vs
/x64
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/matrix_Eigen/x64
/matrix_Eigen/bin
/matrix_Eigen/obj