################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pi_copterVS/bin
/pi_copterVS/obj
